#map {
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map{
    width: 100%;
    height: 100vh;
}

.logo{
    width: 400px;
    z-index: 30;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 210px;
    align-items: center;
   
}

.logo img{
    width: 150px;
    height:60px;
}
.title{
    position: absolute;
    z-index: 10;
    top: 90px;
    left: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    color: #FF362E;


}
.search-container{
    width: 300px;
    height: 60px;
    background-color: #0008;
    position: absolute;
    z-index: 30;
    top: 170px;
    left: 60px;
    border-radius: 30px;

}


.search{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.search input[type ="text"]{
    width: 100%;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
    
}

.search .fa{
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}
.stores-list{
height: 100%;

overflow-y:scroll;
overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 30px;
    border-radius: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e6d5d5; 
  }
.stores-list-container{
    width: 300px;
    border: 1px solid #fff;
    background-color:#0008;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    z-index: 30;
    top: 250px;
    left: 60px;
    border-radius: 25px;
    padding: 0 0 10px;
}

.store-container{
    padding:  20px 20px 0px;
    border: 20px;
    line-height: 1.7;
    margin: 0 15px;
    color:white;
    border-bottom: 2px solid #fff;
  text-transform:capitalize;
  font-weight: 600;
  font-size: 15px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.store-count{
    position: relative;
    left: 210px;
    top: -53px;
    border-radius:40px;
    background-color: black;
    width: 30px;
    color: #fff;
    text-align: center;
    
}
.store-address span{
    display: block;
}
.store-address span:last-child{
    padding-left: 20px;
    margin-bottom: 5px;
}
.store-container .fa{
    padding: 0 10px 0 0;
    margin: 0;
    font-size: 20px;
    color: #E71C23;
}

.store-container .fa-phone{
    color: #00CCCD;
}
.store-container:hover{
    background-color:#ccc;
    color: black;
    padding:  20px 10px 0px;
    border-radius: 15px;
  
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
    transition:all .3s ease-in-out;
}



.info-window{
    position: absolute;
    z-index: 30;
    top: 500px;
    left: 800px;
    border: 1px solid black;
}

.store-info{
    padding: 10px ;
}

.store-add,.store-num{
    font-size: 18px;
    font-weight: 100;
    font-family: fantasy;
    margin-bottom: 10px;
}
.store-add a{
    text-decoration: none;
    color: black;
}
.store-name{
    font-size: 20px;
    margin-bottom: 10px;
    color:#EA7773;
    font-weight: 800;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
   
}
.store-name span{
    display: block;
    padding-bottom: 5px;
}

.store-name #open{
    color: rgb(120, 151, 88);
    border-bottom: 3px solid rgb(179, 37, 37);
}
.store-add i,.store-num i{
    padding: 5px;
    margin-right: 5px;
    background-color:skyblue;
    color: #fff;
    font-size:22px;
    border-radius: 100%;
}

